<div>
  <div class="title">
    <h2>CountryX</h2>
    <img src="assets/globe.png" alt="">
  </div>
  <ul class="list-group mt-3">
    <li
      class="list-group-item"
      style="cursor: pointer;"
      [routerLink]="'countries/by-capital'"
      routerLinkActive="active"
    >
      Search by capital
    </li>
    <li
      class="list-group-item"
      style="cursor: pointer;"
      [routerLink]="'countries/by-country'"
      routerLinkActive="active"
    >
      Search by country
    </li>
    <li
      class="list-group-item"
      style="cursor: pointer;"
      [routerLink]="'countries/by-region'"
      routerLinkActive="active"
    >
      Search by region
    </li>
  </ul>
</div>
